body {
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(211, 211, 211);
}

.left-container {
    width: 30%;
    overflow: hidden;
    min-width: 350px;
}

.left-container img {
    height: 100vh;
}

.form-content {
    flex: 2;
}

.logo-container {
    display: flex;
    background: black;
    color: white;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: 30%;
    min-width: 350px;
    position: absolute;
    top: 150px;
}

.logo-container * {
    opacity: 1;
}

#odin-logo {
    height: 150px;
    margin: 10px;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    background-color: white;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 20px;
}